body {
    font-size: 15px;
}
#darknav.navbar-default {
    background-color: rgb(247, 247, 247) !important;
    border-color: transparent;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
    border-bottom: 3px solid #daa524;
}
.navbar-brand > img {
    display: block;
    width: 168px;
    margin-top: 15px;
    margin-right: 12px;
}

#darknav.navbar-default .navbar-nav>li>a {
    color: #040404;
}
#darknav.navbar-default .navbar-nav>.active>a, #darknav.navbar-default .navbar-nav>.active>a:focus, #darknav.navbar-default .navbar-nav>.active>a:hover {
    background: transparent;
    color: #f7f7f7;
    background-color: #e4c064;
    background: #e4c064;
    background: -moz-linear-gradient(top, #e4c064 0%, #daa520 100%);
    background: -webkit-linear-gradient(top, #e4c064 0%,#daa520 100%);
    background: linear-gradient(to bottom, #e4c064 0%,#daa520 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4c064', endColorstr='#daa520',GradientType=0 );
}
.titlebg {
    background-color: #0a0a0a;
    display: inline-block;
    padding: 14px 46px;
}
#video-wrap h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #efd100 0, #e2a233 38%, #f0c328 60%, #fff1a3 86%, #ffe13e 100%);
    background-size: 1em 1em;
    color: #f8b700;
    display: inline-block;
    position: relative;
    z-index: auto;
    font-size: 32px;
    margin-bottom: 0px;
}
#video-wrap h1:after{
  background: 0 0;
  content: attr(data-text);
  display: inline-block;
  left: 0;
  position: absolute;
  text-shadow: 0 1px 5px #000;
  top: 0;
  z-index: -1
}
#location address {
    background-color: rgba(8, 8, 8, 0.88) !important;
}
.feature-icon {
    font-size: 46px;
    color: #DAA520;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(top, #e6bd4e 0, #e2a233 38%, #f0c328 60%, #e6ac30 86%, #e8b72e 100%);
    background-size: 1em 1em;
    color: #f8b700;
}
#event-features {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.sponsors-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsors-logo img {
    max-width: 132px;
}
.categories-block {
    margin-bottom: 35px;
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 10px;
    border: 1px solid #dadada;
    width: 17.8%;
}
.category-table{
  max-width: 800px;
  margin: 0 auto;
}
.category-table th {
    background-color: #1d1d1d;
    color: #DAA520;
    border-color: #292929 !important;
    border-top: 3px solid #ca9821 !important;
}
.table-bordered {
    border: 1px solid #283a4b;
}
.action-btn {
    padding: 4px 11px;
    font-size: 13px;
    margin-right: 4px;
    background-color: #1d1d1d;
    border: 1px solid #ca9721;
    color: #DAA520;
}
.action-btn:hover, .action-btn:focus, .action-btn:active {
    background-color: #DAA520;
    color: #1d1d1d;
    border: 1px solid #1d1d1d;
}
.table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #dedede;
    font-size: 16px;
    padding: 12px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}
.modal-content {
    border-radius: 0px;
}
.modal-header {
    background-color: #252525;
    color: white;
}
.close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: .5;
}
.btn {
    border-radius: 0px;
}
.btn-primary {
    color: #fff;
    background-color: #425363;
    border-color: #556777;
}
.btn-primary:hover {
    color: #fff;
    background-color: #293a4a;
    border-color: #293a4a;
}
.about-us-content p {
    font-size: 18px;
    line-height: 33px;
    margin-bottom: 30px;
}
.speaker-item p {
    color: #5f5e5e;
}
.black-bg .btn-main-ghost {
    color: #daa524;
    border-color: #daa524;
}
.black-bg .btn-main-ghost:hover {
    color: #FFF !important;
    background-color: #daa524;
    border-color: #f5f5f5 !important;
}
.categories-container {
    display: flex;
    flex-wrap: wrap;
}
.section-content {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 17px;
    line-height: 25px;
}
#video-wrap h2 span {
    font-size: 18px;
}
.association-block h2 {
    font-size: 20px !important;
    color: #dba929;
}
.association-block h2 img {
    background-color: #ffffffbf;
    padding: 5px;
    max-width: 112px;
    margin-top: 14px;
}
/*
.deal-r {
    background-color: #fff9e2;
}
.individual-r {
    background-color: #e4fff0;
}
.law-firm-r {
    background-color: #e8f6ff;
}
.in-house-r {
    background-color: #fbf1ff;
}
.grand-r {
    background-color: #fff5ec;
}
*/
.asean-logo {
    height: 43px;
    margin-top: 19px;
}
@media (max-width: 992px)
{
  .categories-block {
      width: 29.5%;
  }
  .asean-logo {
      height: 39px;
      margin-top: 11px;
  }
.navbar-brand > img {
    display: block;
    width: 155px;
    margin-top: 5px;
}
}
@media (max-width: 840px)
{
  #darknav .navbar-nav>li>a {
      padding: 20px 9px;
      font-size: 13px;
  }
  .asean-logo {
      height: 38px;
      margin-top: 12px;
      width: auto;
  }
.navbar-brand > img {
    display: block;
    width: 148px;
    margin-top: 6px;
}
}
@media (max-width: 768px)
{
  .categories-block {
      width: 45.5%;
  }
}
@media (min-width: 768px)
{
  .navbar-nav > li > a {
      padding-top: 30px;
      padding-bottom: 30px;
  }
.navbar .container {
    width: 98%;
}

}

@media (max-width: 500px)
{
  .categories-block {
    width: 100%;
}
}
